@page "{id:int}"
@using DomainModels
@model BookLogApp.Pages.PagesForBooks.UpdateBookModel

<div class="container mt-4">
    <h2 class="mb-3">Update @Model.BookViewModel.Title</h2>

    <form method="post" class="needs-validation" novalidate>
        <input type="hidden" asp-for="BookViewModel.ID" />
        <input type="hidden" asp-for="BookViewModel.ISBN" />

        <div class="mb-3">
            <label for="Title" class="form-label">Title:</label>
            <input id="Title" asp-for="BookViewModel.Title" class="form-control" />
            <span asp-validation-for="BookViewModel.Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="Author" class="form-label">Author:</label>
            <input id="Author" asp-for="BookViewModel.Author" class="form-control" />
            <span asp-validation-for="BookViewModel.Author" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="Summary" class="form-label">Summary:</label>
            <textarea id="Summary" asp-for="BookViewModel.Summary" class="form-control"></textarea>
        </div>


        <div class="mb-3">
            <label class="form-label">Select Genre:</label>
            <div>
                @foreach (Genre genre in Model.BookViewModel.AvailableGenres)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="BookViewModel.SelectedGenreIds" value="@genre.ID"
                        @(Model.BookViewModel.SelectedGenreIds.Contains(genre.ID) ? "checked" : "") />
                        <label class="form-check-label">@genre.Name</label>
                    </div>
                }
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Update @Model.BookViewModel.Title</button>
    </form>
</div>
